{
    "token": "YOUR_TOKEN_FROM_DISCORDDEV",
    "owner": "YOUR_ID",
    "commandPrefix": "!",
    "commandoVersion" : "0.24.0",
    "oAuthLink": "",
    "osukey": "osuAPIKey",
    "cleverBotApiKey": "YOUR_KEY_FROM_CLEVERBOT.IO",
    "cleverBotApiUser": "YOUR_USER_KEY_FROM_CLEVERBOT.IO",
    "aniListID": "ID_FROM_ANILIST",
    "aniListSecret": "KEY_FROM_ANILIST",
    "exampleChannel": "example_channel_ID",
    "db": "postgres://<user_name>:<user_password>@localhost/<db_name>",
    "weatherAPIKey": "YOUR_DARKNET_WEATHER_API_KEY",
    "googleAPIKey": "YOUR_KEY_FROM_GOOGLE_API_DASHBOARD",
    "soundcloudID": "SoundCloud_API_Key",
    "sherlockAPIKey": "Sherlock_API_Key",
    "permittedGroup": "Server Staff", //Case-sensitive
    "paginationItems": 10,
    "defaultVolume": 2,
    "maxLength": 15,
    "maxSongs": 5,
    "passes": 2
}
