{
  "TOKEN": "YOUR_TOKEN_FROM_DISCORDDEV",
  "OWNERS": "YOUR_ID",
  "COMMAND_PREFIX": "!",
  "COMMANDO_VERSION" : "0.25.0",
  "OAUTH_LINK": "",
  "OSU_API_KEY": "osuAPIKey",
  "CLEVERBOT_API_KEY": "YOUR_KEY_FROM_CLEVERBOT.IO",
  "CLEVERBOT_API_USER": "YOUR_USER_KEY_FROM_CLEVERBOT.IO",
  "ANILIST_ID": "ID_FROM_ANILIST",
  "ANILIST_SECRET": "KEY_FROM_ANILIST",
  "SHIKIMORI_API_KEY": "SHIKIMORI_API_KEY",
  "EXAMPLE_CHANNEL": "example_channel_ID",
  "ISSUE_CHANNEL": "CHANNEL_ID_FOR_ISSUES",
  "REQUEST_CHANNEL": "CHANNEL_ID_FOR_REQUESTS",
  "DB": "postgres://<user_name>:<user_password>@localhost/<db_name>",
  "WEATHER_API": "YOUR_DARKNET_WEATHER_API_KEY",
  "GOOGLE_API": "YOUR_KEY_FROM_GOOGLE_API_DASHBOARD",
  "SOUNDCLOUD_API": "SoundCloud_API_Key",
  "SHERLOCK_API": "Sherlock_API_Key",
  "GOOGLE_CUSTOM_SEARCH": "API_KEY_FROM_CSE_GOOGLE_COM",
  "GOOGLE_CUSTOM_SEARCH_CX": "CX_FROM_CSE_GOOGLE_COM",
  "PERMITTED_GROUP": "Server Staff",
  "PAGINATED_ITEMS": 10,
  "DEFAULT_VOLUME": 2,
  "MAX_LENGTH": 15,
  "MAX_SONGS": 5,
  "PASSES": 2
}