language: node_js
node_js:
  - '8'
dist: trusty
cache:
  directories:
    - node_modules
sudo: required
addons:
  apt:
    sources:
      - git-core
      - ubuntu-toolchain-r-test
    packages:
      - git
      - libcairo2-dev
      - libjpeg8-dev
      - libpango1.0-dev
      - libgif-dev
      - g++-4.9
env:
  - CXX=g++-4.9
before_install:
  - sudo apt-get update
  - npm explore npm -g -- npm install node-gyp@latest
install: yarn install
script:
  - bash ./deploy/deploy.sh