{
"token": "YOUR_TOKEN_FROM_DISCORDDEV",
"owner": "YOUR_ID",
"commandPrefix": "!",
"commandoVersion" : "0.24.0",
"oAuthLink": "",
"cleverbotApiKey": "YOUR_KEY_FROM_CLEVERBOT.IO",
"cleverbotApiUser": "YOUR_USER_KEY_FROM_CLEVERBOT.IO",
"AniListID": "ID_FROM_ANILIST",
"AniListSecret": "KEY_FROM_ANILIST",
"exampleChannel": "example channel ID",
"db": "postgres://user:password@localhost/database",
"weatherAPIKey": "YOUR_DARKNET_WEATHER_API_KEY",
"googleAPIKey": "YOUR_KEY_FROM_GOOGLE_API_DASHBOARD",
"soundcloudID": "SoundCloud API Key",
"sherlockAPIKey": "Sherlock API Key",
"paginationItems": 10,
"defaultVolume": 2,
"maxLength": 15,
"maxSongs": 5,
"passes": 2
}
